.settings__setting {
  padding: 25px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.settings__setting i {
  opacity: 0.8;
  margin-right: 20px;
  font-size: 22px;
}

.settings-setting__column:last-child {
  opacity: 0.5;
}
.settings__setting:nth-child(3) {
  padding-bottom: 50px;
  border-bottom: var(--main-border);
}

.settings-setting {
  padding-bottom: 30px;
}

.alt-header__column span:last-child {
  margin-left: 25px;
}
